*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica Neue,sans-serif;
    font-size: 18px;
}

h1,h2{
    color: rgba(13, 137, 109, 0.96);
}

h1{
    font-size: 40px;
    margin-bottom: 25px;
}

h2{
    font-size: 25px;
    margin-bottom: 10px;
}

/*p {
    
    text-align: justify;
    font-family: Arial;
}*/
.main-text{
    text-align: justify;
    margin-bottom: 20px;
}
.author-text{
    font-size: 22px;
}